.details {
  text-align: center;
}

.details img {
  width: 100%;
}

.back {
  cursor: pointer;
  padding: 1% 4%;
  border: 1px solid #080077;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  color: #080077;
  background-color: white;
  transition: all 0.5s;
}

.back:hover {
  background-color: #080077;
  color: white;
}
